CacheControl==0.14.0
fuse-python==1.0.7
hishel==0.0.26
humanize==4.9.0
httpx[http2]==0.27.0
rdflib==7.0.0
requests==2.32.0
structlog==24.1.0
opentelemetry-distro==0.45b0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-magic==0.4.27
websockets==12.0